#### load SQL extension

In [3]:
%reload_ext sql

#### connect to world db

In [12]:
import os
from dotenv import load_dotenv
load_dotenv()

DB_NAME = os.getenv("DB_NAME")

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")

connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

%sql $connection_string

'Connected: root@world'

### show tables in world database

In [15]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]